<header>
    <div class="container header-container">
        <a href="../" class="logo">
            <img src="assets/icons/logo.svg" alt="StartHub.kz Logo" class="logo-icon">
            StartHub.kz
        </a>
        <nav>
            <ul>
                <li *ngFor="let navChild of navigationChildren"><a [href]="navChild.linkToThePage">{{t(navChild.translationCode)}}</a></li>
            </ul>
        </nav>
        <div class="auth-buttons">
          <a *ngIf="!showAuthorizationModal" href="../login" class="btn btn-primary">{{t('login')}}</a>
          <button class="menuMainObject" mat-button [matMenuTriggerFor]="menu">{{currentLanguage}}</button>
          <mat-menu #menu="matMenu">
            <button (click)="languageSwitcher($event)" [id]="langItem.langId" *ngFor="let langItem of languageItems" mat-menu-item>{{langItem.langName}}</button>
          </mat-menu>
        </div>
    </div>
</header>
