<header>
    <div class="container header-container">
        <a href="../main/index.html" class="logo">
            <img src="../../../../public/assets/icons/logo.svg" alt="StartHub.kz Logo" class="logo-icon">
            StartHub.kz
        </a>
        <nav>
            <ul>
                <li><a href="../about">О нас</a></li>
                <li><a href="../catalog">Проекты</a></li>
                <li><a href="../help" class="active">FAQ</a></li>
                <li><a href="../blog">Блог</a></li>
            </ul>
        </nav>
        <div class="auth-buttons">
            <a href="../main/login.html" class="btn btn-secondary">Вход</a>
            <a href="../main/register.html" class="btn btn-primary">Регистрация</a>
        </div>
    </div>
</header>
