<header>
    <div class="container header-container">
        <a href="../" class="logo">
            <img src="assets/icons/logo.svg" alt="StartHub.kz Logo" class="logo-icon">
            StartHub.kz
        </a>
        <nav>
            <ul>
                <li><a href="../about">О нас</a></li>
                <li><a href="../catalog">Проекты</a></li>
                <li><a href="../help" >FAQ</a></li>
                <li><a href="../blog">Блог</a></li>
            </ul>
        </nav>
        <div class="auth-buttons">
            <a href="../login" class="btn btn-secondary">Вход</a>
            <a href="../register" class="btn btn-primary">Регистрация</a>
            <div class="language-switcher">
                <div class="language-switcher-item">
                    <input type="radio" name="lang" id="ru" checked>
                    <div class="radio-tile">
                        <label for="ru">RU</label>
                    </div>
                </div>
                <div class="language-switcher-item">
                    <input type="radio" name="lang" id="kz">
                    <div class="radio-tile">
                        <label for="kz">KK</label>
                    </div>
                </div>
                <div class="language-switcher-item">
                    <input type="radio" name="lang" id="en">
                    <div class="radio-tile">
                        <label for="en">EN</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
