<div style="position: relative;overflow: hidden">
  <div class="loading-bg-styles" style="position: absolute;top:0;left: 0;width: calc(100% + 50px);background: rgba(255, 255, 255,0.6);" *ngIf="isLoadingPage"></div>
  <mat-spinner *ngIf="isLoadingPage" style="position: absolute;top:28%;left: 40%" class="mat-spinner-centralized"></mat-spinner>
  <h2 mat-dialog-title>{{t('project_deletion_title')}}</h2>
  <div style="background: rgba(128,128,128,0.4);width: 100%;height: 1px"></div>
  <span mat-dialog-content style="font-size: 18px;overflow: hidden;">{{t('project_deletion_approvement_question')}}</span>
  <mat-dialog-actions>
    <button [disabled]="resetDeleteSeconds <= 0" (click)="onResetDeletion()" [ngStyle]="resetDeleteSeconds <= 0 ? {'background':'rgba(128,128,128,0.2)','color':'rgba(128,128,128,1)'} : {}" mat-button style="background: black;color: white" *ngIf="isResetDeleteButtonShown">{{t('delete_reset')}}{{resetDeleteSeconds > 0 ? ' ': ''}}{{ resetDeleteSeconds > 0 ? resetDeleteSeconds : '' }}</button>
    <button mat-button mat-dialog-close >{{t('close_btn')}}</button>
    <button [disabled]="isResetDeleteButtonShown" [ngStyle]="isResetDeleteButtonShown ? {'background':'rgba(128,128,128,0.2)','color':'rgba(128,128,128,1)'} : {'background':'red','color':'white'}" mat-button (click)="projectDelete()" style="background: red;color: white">{{t('delete_btn')}}</button>
  </mat-dialog-actions>
</div>
