<div class="profile-container">
    <div class="container">
        <section class="profile-info">
          <div class="avatar">
            <img src="assets/images/avatar-placeholder.jpg" alt="Фото пользователя">
          </div>
          <ng-container *ngIf="isUserProfileConfigured">
            <h1 class="user-name" *ngIf="!!userInfo?.user_fullName">{{ userInfo?.user_fullName }}</h1>
            <p class="contact-info">Email: {{userInfo?.user_name}}</p>
            <p class="contact-info">Телефон: {{ userInfo?.user_phoneNumber }}</p>
            <p class="bio">{{userInfo?.user_description}}</p>
          </ng-container>
          <ng-container *ngIf="!isUserProfileConfigured">
            <form [formGroup]="profileForm" class="dsp-flex flex-directionColumn jc-center gap-20 fs-20 fw-bold">
              <div class="basicFlex" *ngFor="let profileItem of profileItems">
                  <span>{{profileItem.labelStr}}</span>
                  <div class="custom-input-container">
                    <input [disabled]="!isFormActive" *ngIf="profileItem.formControlName !== 'user_description'" [formControlName]="profileItem.formControlName" [value]="profileForm.get(profileItem.formControlName)?.value" class="custom-input-cal custom-input-base" id="custom_input" placeholder="" type="text" >
                    <textarea [disabled]="!isFormActive" *ngIf="profileItem.formControlName === 'user_description'" [formControlName]="'user_description'" [value]="profileForm.get('user_description')?.value" class="custom-input-cal custom-input-base" id="custom_input" placeholder="" type="text"></textarea>
                  </div>
              </div>
            </form>
          </ng-container>
          <div class="dsp-flex" [ngClass]="!isUserProfileConfigured ? 'jstf-cnt-end' : 'jstf-cnt-center'" style="margin-top: 15px">
            <button style="margin-right: 4%" (click)="onEdit()">{{'Редактировать профиль'}}</button>
          </div>
        </section>

        <section class="user-projects">
            <h2>Мои проекты</h2>
            <div class="dsp-flex gap-20 jc-center flex-directionColumn">
              <div class="dsp-flex gap-20 jc-center" style="flex-wrap: wrap">
                <div class="project-card" *ngFor="let projectData of projectsData.slice(0,visibleProjectCardCount)">
                      <h3>{{projectData.title}}</h3>
                      <p>Статус: активен</p>
                      <div class="project-actions">
                          <button>Редактировать</button>
                          <button>Обновить</button>
                          <button>Статистика</button>
                      </div>
                </div>
              </div>
              <div class="dsp-flex flex-directionColumn jc-center showAll" (click)="visibleProjectCardCountModif()">
                <mat-icon *ngIf="isProjectCardsExpanded">keyboard_arrow_up</mat-icon>
                <span>{{(!isProjectCardsExpanded ? 'Показать все' : 'Скрыть')}}</span>
                <mat-icon *ngIf="!isProjectCardsExpanded">keyboard_arrow_down</mat-icon>
              </div>
            </div>
        </section>

        <section class="supported-projects">
            <h2>Поддержанные проекты</h2>
            <div class="project-card">
                <h3>Название поддержанного проекта</h3>
                <p>Статус финансирования: 80%</p>
                <div class="project-actions">
                    <button>Оставить отзыв</button>
                </div>
            </div>
        </section>

<!--        <section class="notifications">-->
<!--            <h2>Уведомления</h2>-->
<!--            <ul>-->
<!--                <li>Уведомление 1</li>-->
<!--                <li>Уведомление 2</li>-->
<!--            </ul>-->
<!--        </section>-->

<!--        <section class="messages">-->
<!--            <h2>Сообщения</h2>-->
<!--            <div class="chat">-->
<!--                <p><strong>Другой пользователь:</strong> Привет!</p>-->
<!--                <input type="text" placeholder="Написать сообщение...">-->
<!--            </div>-->
<!--        </section>-->

<!--        <section class="transaction-history">-->
<!--            <h2>История транзакций</h2>-->
<!--            <ul>-->
<!--                <li>Дата: 01.01.2025 — Сумма: 100₸ — Поддержка проекта "Название"</li>-->
<!--            </ul>-->
<!--        </section>-->

        <section class="favorite-projects">
            <h2>Избранные проекты</h2>
            <div class="project-card">
                <h3>Название избранного проекта</h3>
                <div class="project-actions">
                    <button>Перейти</button>
                </div>
            </div>
        </section>

<!--        <section class="account-settings">-->
<!--            <h2>Настройки аккаунта</h2>-->
<!--            <div class="project-actions">-->
<!--                <button>Изменить пароль</button>-->
<!--                <button>Настройки уведомлений</button>-->
<!--                <button>Соцсети</button>-->
<!--                <button>Конфиденциальность</button>-->
<!--            </div>-->
<!--        </section>-->
    </div>
    <div class="loading-bg-styles" *ngIf="isLoadingPage"></div>
    <mat-spinner *ngIf="isLoadingPage" class="mat-spinner-centralized"></mat-spinner>
</div>
