<!-- Основной контейнер -->
<div class="project-create-container">
  <!-- Секция с инструкциями -->
  <section class="instructions-section">
    <h2>{{t('create_project')}}</h2>
    <div class="steps-container">
      <div class="step" *ngFor="let stepContent of stepsContent">
        <div class="step-icon">
          <img [src]="stepContent.stepImage" alt="step-icon">
        </div>
        <h3>{{t(stepContent.stepTitleCode)}}</h3>
        <p>{{t(stepContent.stepDescriptionCode)}}</p>
      </div>
    </div>
  </section>

  <!-- Форма создания проекта -->
  <section class="project-form-section">
    <form class="project-form" (ngSubmit)="createProject()">
      <!-- Основная информация -->
      <div class="form-group">
        <label for="title">{{t('project_title')}}</label>
        <div class="input-tip">{{t('create_memorable_title')}}</div>
        <input style="width: 100%" type="text" id="title" name="title" [(ngModel)]="project.title" required>
      </div>

      <div class="form-group">
        <label for="description">{{t('short_description')}}</label>
        <div class="input-tip">{{t('describe_project_in_2_3_sentences')}}</div>
        <textarea style="width: 100%;font-size: 18px" id="description" name="description" [(ngModel)]="project.description" rows="3" required></textarea>
      </div>

      <div class="form-group">
        <label for="projectCategory">{{t('project_category')}}</label>
        <select style="width: 102%" id="projectCategory" name="projectCategory" [(ngModel)]="project.category" required>
          <option *ngFor="let category of categories"  [value]="category.value">{{ category.label }}</option>
        </select>
      </div>


    <!-- Финансовая информация -->
    <div class="form-group">
      <label for="target_funds">{{t('target_amount')}}</label>
      <input type="number" style="width: 100%" id="target_funds" name="target_funds" [(ngModel)]="project.target_funds" min="0" required>
    </div>

    <!-- Даты -->
    <div class="form-group">
      <label>{{t('fundraising_deadlines')}}</label>
      <mat-form-field style="width: 50%">
        <mat-label>{{t('choose_date_title')}}</mat-label>
        <input id="matdatePickerInput" matInput [matDatepicker]="picker" name="deadline" [min]="today" [(ngModel)]="project.deadline">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker class="bg-white" name="deadline" [(ngModel)]="project.deadline" #picker></mat-datepicker>
      </mat-form-field>
    </div>

      <!-- Календарь дедлайнов
    <div class="form-group">
      <label>Календарь дедлайнов</label>
      <div class="calendar-container">
        <input type="date" [(ngModel)]="project.calendar" name="calendar">
      </div>
    </div>-->


      <!-- Медиа-контент
      <div class="form-group">
        <label>Медиа-контент</label>
        <div class="media-upload">
          <div class="image-upload">
            <label for="projectImages">Загрузить изображения</label>
            <input type="file" id="projectImages" name="projectImages" multiple accept="image/*">
          </div>
          <div class="video-upload">
            <label for="projectVideo">Добавить видео</label>
            <input type="text" id="projectVideo" name="projectVideo" placeholder="Вставьте ссылку на видео">
          </div>
        </div>
      </div>-->

      <!-- Вознаграждения
      <div class="form-group">
        <label>Вознаграждения для инвесторов</label>
        <div class="rewards-container">
          <div *ngFor="let reward of project.rewards; let i = index">
            <input type="text" [(ngModel)]="project.rewards[i]" name="reward{{i}}">
          </div>
          <button type="button" (click)="addReward()">Добавить</button>
        </div>
      </div>-->


      <!-- Кнопки действий -->
      <div class="form-actions">
        <!--<button type="button" class="preview-btn">Предпросмотр</button>-->
        <button
          [disabled]="!this.project.category || !this.project.deadline || !this.project.description || !this.project.title"
          [ngStyle]="!this.project.category || !this.project.deadline || !this.project.description || !this.project.title ? {'background':'rgba(128,128,128,0.4)','color':'rgba(128,128,128,1)'} : {}"
          mat-flat-button
          type="submit"
          class="submit-btn">{{t('submit_for_moderation')}}</button>
      </div>
    </form>
  </section>
</div>
