<div class="body">
    <section class="banner">
        <div class="container margin-left-10percent">
            <h1>{{t('banner_title')}}</h1>
            <p>{{t('banner_description')}}</p>
            <div class="banner-buttons">
                <a href="explore.html" class="btn btn-primary">{{t('explore')}}</a>
                <a href="how-it-works.html" class="btn btn-secondary">{{t('learn_more')}}</a>
            </div>
            <div class="stats">
                <div class="stat-item">
                    <div class="stat-icon">
                      <img src="assets/icons/project.png" alt="">
                    </div>
                    <div class="stat-text">{{t('projects_count')}}</div>
                </div>
                <div class="stat-item">
                    <div class="stat-icon">
                      <img src="assets/icons/customer-icon.png" alt="">
                    </div>
                    <div class="stat-text">{{t('users_count')}}</div>
                </div>
            </div>
        </div>
    </section>

    <section class="categories">
        <div class="container m0-auto">
            <h2>{{t('categories_title')}}</h2>
            <p class="subtitle">{{t('categories_description')}}</p>
            <div class="category-grid">
              <div class="category-card" *ngFor="let cardItem of cardItems">
                <img [src]="cardItem.src" [alt]="cardItem.altDesc">
                <h3>{{t(cardItem.h3Code)}}</h3>
                <p>{{t(cardItem.paragraphCode)}}</p>
              </div>
            </div>
        </div>
    </section>
</div>
