<footer>
    <div class="container">
        <div class="footer-grid">
            <div class="footer-column" *ngFor="let footerItem of footerItems">
                <h3>{{t(footerItem.columnHeadDefinition)}}</h3>
                <ul>
                    <li *ngFor="let columnItem of footerItem.columnItems"><a href="#">{{t(columnItem)}}</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 StartHub.kz. {{t('all_rights_reserved')}}</p>
        </div>
    </div>
</footer>
